html {
    background: rgb(112, 118, 125);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
}
* {
    box-sizing: border-box;
}
header {
    background: white;
    font-size: 20px;
    position: relative;
    left: 0;
    right: 0;
    padding: 12px, 12px;
    border-bottom: 5px;
}
header::after {
    display: block;
    clear: both;
    content: '';
    width: 12px;
    height: 12px;
}
.name {
    float: left;
    padding: 2%;
    margin: 2%;
}
.links {
    float: right;
}
.black-hole {
    max-width: 60%;
    max-height: 60%;
    padding: 7px;
    position: relative; left: 30%;
    border-radius: 10%;
}

.main-header {
    text-align: center;
    width: 35%;
    padding: 5%;
    margin: 5%;
    border-style: dashed;
    background-color: rgb(223, 173, 10);
    border-radius: 30%;
}

.about-me-main-header {
    width: 30%;
    padding: 3%;
    border-radius: 33%;
    text-align: center;
    font-size: 10px;
    background-color: rgb(223, 173, 10);
    
}

.about-me-interests {
    width: 20%;
    padding: 3%;
    border-radius: 25%;
    text-align: center;
    position: relative; left: 40%;
    font-size: 17px;
    background-color: rgb(37, 235, 231);
}

.porfolio-text {
    color:rgb(255, 255, 255);
    text-align: center;
    background-color: rgb(208, 74, 60);
    padding: 1%;
    width: 400px;
    position: relative; left: 40%;
}